{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sensor Data{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <div class="container">
            <h1>MQTT Dashboard</h1>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'afficher_donnees' %}">Afficher les données</a></li>
                <li><a href="{% url 'filtrer_donnees' %}">Filtrer les données</a></li>
                <li><a href="{% url 'graph_view' %}">Afficher graphique</a></li>
               
            </ul>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
